<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.reactnativecometchatuikit">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application android:requestLegacyExternalStorage="true"
        android:largeHeap="true" >
        <activity
            android:name="com.reactnativecometchatuikit.CometChatVideoPlayer"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.reactnativecometchatuikit.CometChatImageViewer"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.reactnativecometchatuikit.CometChatWebView"
            android:theme="@style/Theme.AppCompat" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>
